#navbar {
     text-align: center;
     background-color: black;
     margin-left: 3px;
     margin-right: 3px;
}

#navbar li {
     display: inline-table;
     padding: 13px;
     margin-top: 2%;
     margin-bottom: 3%;
     margin-left: 7px;
     font-size: 20px;
     border-radius: 7px;
     background-color: white;
}

#navbar li a {
     text-decoration: none;
     color: black;
     font-family: courier new;
     font-weight: bold;
}

#navbar li a:hover {
     color: yellow;
}

/* about me */

     /* pt.1 */
          h1 {
               font-size: 40px;
               width: 70%;
               text-align: center;
               margin-top: 4%;
               margin-left: 15%;
               margin-bottom: 30px;
               color: black;
               background-color: rgb(179, 255, 179);
               border-color: black;
               border-style: solid;
               border-radius: 100px; 
               padding: 3px;
               font-family: cursive; 
          }
          
          #words {
               width: 1100px;
               height: 400px; 
               font-family: comic sans ms;
               font-size: x-large;
               padding: 10px;
               margin-left: 120px;
               margin-top: 50px; 
               text-align: center
          }
          
          .pic {
               width: 500px;
               float: right;
               border: 3px solid;
               border-color: rgb(179, 255, 179);
               padding: 15px;
               border-radius: 7%;
               margin-right: 3%;
               margin-left: 5%;
               margin-top: 20px;
               overflow-y: auto;
          }
          
     /* pt.2 */     
          #words2 {
               width: 1200px;
               height: 300px;
               font-family: comic sans ms;
               color: black;
               font-size: x-large;
               padding: 10px;
               position: static;
               margin-left: 40px;
               margin-right: 20px;
               margin-bottom: 20px;
               margin-top: 40px; 
          
          }
          
          .pic2 {
               width: 250px;
               float: left;
               border: 3px solid;
               border-color: rgb(179, 255, 179);
               padding: 15px;
               border-radius: 7%;
               margin-right: 2%;
               margin-left: 3%;
               margin-bottom: 20px;
               overflow-y: auto;
          }
          
          .pic3 {
               width: 170px;
               float: left;
               border: 3px solid;
               border-color: rgb(179, 255, 179);
               padding: 15px;
               border-radius: 7%;
               margin-right: 4%;
               margin-left: 1%;
               margin-top: 4%;
               overflow-y: auto;
          }
     
/* about me ends */
      
      
/* hardware */
     
     #bookmark {
          position: fixed;
          float: right;
          width: 200px;
          border: 3px solid;
          border-radius: 20%;
          font-family: cursive;
          font-size: larger;
          margin-left: 70px;
          text-align: center;
          border-color: rgb(74, 55, 19);
     }
     
     #bookmark p a {
         text-decoration: none;
         color: blue;
         font-weight: bold;
     }
     
     #bookmark p a:hover {
          color: yellow;
     }

     h2 {
          font-size: 40px;
          width: 70%;
          text-align: center;
          margin-top: 4%;
          margin-left: 15%;
          margin-bottom: 50px;
          color: black;
          background-color: rgb(3, 226, 226);
          border-color: black;
          border-style: solid;
          border-radius: 100px; 
          padding: 3px;
          font-family: cursive; 
     }
     
     /* motherboard */
          #tmotherboard {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-left: 360px;
               text-align: center;
          }
          
          #motherboard {
               font-family: cursive;
               font-size: x-large;
               width: 800px;
               height: 550px; 
               border: 3px solid;
               border-radius: 4%;
               border-color: rgb(3, 201, 201);
               padding: 30px;
               margin-left: 360px;
               margin-top: 20px;
          }
     
          .motherboard {
               float: right;
               width: 350px; 
          }
          
     /* CPU */
          #tCPU {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-top: 70px;
               margin-left: 360px;
               text-align: center;
          }
          
          #CPU {
               width: 900px;
               height: 300px; 
               font-family: comic sans ms;
               font-size: x-large;
               margin-left: 360px;
               margin-top: 20px;
          } 
          
          .CPU {
               width: 300px;
               float: left;
               border: 3px solid;
               border-color: rgb(3, 201, 201);
               padding: 20px;
               border-radius: 7%;
               margin-right: 5%;
               margin-top: 14px;
          }
     
     /* RAM */
          #tRAM {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-top: 60px;
               margin-left: 360px;
               text-align: center;
          }
           
          #RAM {
               width: 900px;
               font-family: cursive;
               font-size: x-large;
               margin-left: 360px;
          }
          
          .RAM {
               width: 325px;
               float: right;
               border: 3px solid;
               border-color: rgb(3, 201, 201);
               padding: 15px;
               border-radius: 7%;
               margin-left: 30px;
               margin-top: 30px;
          }
          
     /* Hard Drive */
          #thd {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-top: 80px;
               margin-left: 360px;
               text-align: center;
          }
          
          #hd {
               font-family: cursive;
               font-size: x-large;
               width: 800px;
               height: 220px; 
               border: 3px solid;
               border-radius: 4%;
               border-color: rgb(3, 201, 201);
               padding: 30px;
               margin-left: 360px;
               margin-bottom: 10px;
          }
          
          .hd {
               width: 350px;
               margin-right: 50px;
               float: left;
          }
          
     /* How */
          #thow {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-top: 70px;
               margin-left: 380px;
               margin-bottom: 10px;
               text-align: center;
          }
          
          .how {
               width: 550px;
               margin-left: 125px;
               margin-bottom: 20px;
               margin-right: 60px;
          }
          
          #how {
               font-family: cursive;
               font-size: x-large;
               width: 800px;
               height: 470px; 
               border: 3px solid;
               border-radius: 4%;
               border-color: rgb(3, 201, 201);
               padding: 30px;
               margin-left: 360px;
               margin-bottom: 10px;          
          }
          
     /* KMM */
          #tKMM {
               font-family: cursive;
               font-size: xx-large;
               font-weight: bold;
               width: 800px;
               margin-top: 70px;
               margin-left: 360px;
               text-align: center;
          }
          
          .KMM {
               width: 230px;
               padding: 20px;
               border: 3px solid;
               border-color: rgb(3, 201, 201);
               border-radius: 7%;
               margin-right: 55px;
               margin-top: 30px;
               float: right;
          }
          
          #KMM {
               font-family: cursive;
               font-size: x-large;
               width: 800px;
               height: 350px; 
               padding: 30px;
               margin-left: 360px;
               margin-top: 220px;
          }
          
          .sKMM{
               font-family: cursive;
               font-size: x-large;
               font-weight: bold;
               margin-right: 700px;
               text-decoration: underline;
               white-space: pre-line;
          }

/* hardware ends */
 
/* how to */
     
     body {
          background-repeat: no-repeat;
          background-attachment: fixed;
     }
 
     #title {
          width: 300px;
          border: 4px solid;
          border-radius: 40px;
          margin-left: 520px;
          margin-top: 10px;
      }
      
     #body {
          background-image: url(http://7-themes.com/data_images/out/46/6927913-abstract-black-background.jpg);
     }
      
     h3 {
          color: white;
          font-family: cursive;
          font-size: 3em;
          margin-top: 60px;
          text-align: center;
          margin-bottom: 10px;
     }
     
     .accordion {
          background-color:#ebebe0;
          cursor: pointer;
          text-align: left;
          padding: 18px;
          width: 1250px;
          border: 4px solid;
          border-color: black;
          border-radius: 10px;
          outline: none;
          font-family: cursive;
          font-size: large;
          transition: 0.4s;
          margin-left: 50px;
          margin-bottom: 3px;
     }
      
     .accordion.active, .accordion:hover {
           background-color: #df80ff;
     }
     
     .accordion:after {
          content: '\02795';
          font-size: 13px;
          float: right;
          margin-left: 5px;
     }
     
     .accordion.active:after {
          content: "\2796";
     }

     .panel {
          padding: 0 18px;
          background-color: white;
          max-height: 0;
          overflow: hidden;
          transition: 0.6s ease-in-out;
          opacity: 0;
     }
     
     .panel.show {
          opacity: 1;
          max-height: 1000px;
          margin-left: 90px;
          width: 1140px;
     }
     
     .info {
          font-family: cursive;
          font-size: larger;
          padding: 5px;
          margin-left: 100px;
          margin-right: 40px;
     }
     
     /* basics */
     .bhtml {
          width: 400px;
          margin-left: 150px;
          border: 2px solid;
          padding: 10px;
          border-radius: 10px;
     }
     
     .bhtml2 {
          width: 350px;
          margin-left: 150px;
          border: 2px solid;
          border-radius: 20px;
          padding: 10px;
     }

     /* menu */
     .menupic {
          margin-left: 200px;
          border: 2px solid;
          border-radius: 20px;
          padding: 10px;
     }
     
     .expic {
          margin-left: 230px;
          width: 400px;
     }
     
/* how to ends */